PORT=3000
PROFILE_SERVICE_URL=http://profile-manager:3001
MEDICINE_ANALYZER_URL=http://medicine-analyzer:3002
MEDICINE_SCHEDULER_URL=http://medicine-scheduler:3003
AGENT_SERVICE_URL=ws://agent-service:3004
JWKS_URI=http://profile-manager:3001/.well-known/jwks.json
