version: "3.8"
services:
  profile-manager:
    build: .
    environment:
      - MONGO_URI=mongodb://mongo:27017/profile-manager
      - NODE_ENV=production
    ports:
      - 3000:3000
    depends_on:
      - mongo

  mongo:
    image: mongo:6.0
    ports:
      - 27017:27017
