PORT=3004
GEMINI_API_KEY=your_google_api_key_here
MEDICINE_ANALYZER_URL=http://medicine-analyzer:3002
MEDICINE_SCHEDULER_URL=http://medicine-scheduler:3003
PROFILE_MANAGER_URL=http://profile-manager:3001
GEMINI_MODEL=gemini-2.5-flash
